body {
    margin: 0;
    font-family: "roboto";
}





header {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    background-color: #1F2937;
    

}




ul {
    
    background-color: #1F2937;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}
.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.headerlink {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
}

.content {
    display: flex;
    background-color: #1F2937;
    padding: 100px 200px;
    justify-content: space-between;
    align-items: center;

    
}

p {
    margin: 0;
    
}

img {
    width: 600px;
    height: auto;
}

button {
    background-color: blue;
    color: white;
    padding: 8px 32px;
    border-radius: 10px;
    border: none;
    
}

.text {
    width: 400px;
    
}

.title {
    font-size: 48px ;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 5px;
   
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
    
}
